<h1>Here's the form</h1>

<!--(not erb syntax) <form action="/send_form" method="post">
  <div>
    <label for="form_message">Enter Message</label>
    <input type="text" id="form_message" name="message">
  </div>
  <div>
    <input type="submit" value="Send Message">
  </div>
</form> -->

<%= form_tag('/send_form', method: :post) do %>

  <div>
    <%= label_tag :message, 'Enter Message' %>
    <%= text_field_tag :message, nil , placeholder: "place name here" %>
  </div>
  <div>
    <%= submit_tag 'Send Message' %>
  </div>
<%= end %>