<h2>Update Employee</h2>

<%= form_tag '/employees', method: :post do %>
  
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, @employee["first_name"] %>
  </div>
  
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, @employee["last_name"] %>
  </div>
  
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, @employee["email"]%>
  </div>

  <div>
    <%= label_tag :ssn %>
    <%= text_field_tag :ssn, @employee["ssn"] %>
  </div>

<%= submit_tag "Update Employee Data!" %>
<% end %>