<h1>New Emplooyee</h1>
<%= form_tag '/employees', method: :post do %>
  
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name %>
  </div>
  
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name %>
  </div>
  
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>

  <div>
    <%= label_tag :ssn %>
    <%= text_field_tag :ssn %>
  </div>

<%= submit_tag "Make a New Employee!!!" %>
<% end %>