<section>
<h2><%= link_to 'See Documents', '/documents', class: "btn btn-info" %> <%= link_to 'New', '/profiles/new', class: "btn btn-info" %></h2>
<h2>Showing All User Profiles</h2>

<% @profiles.each do |profile| %>
  <h2>Service Provider or Client: <%= profile.name %></h2>
  <h2>Company Address: <%= profile.address %></h2>
  <h2>Phone Number: <%= profile.phone %></h2>
  <h2>Email: <%= profile.email %></h2>
  <h2>Description: <%= profile.description %></h2>
  <h2>Active Job Tickets: <%= profile.active_tickets %></h2>
<% end %>
</section>
