<h1>Weathers App</h1>

<%= form_tag '/', method: :get do %>
  <%= text_field_tag :city, nil, placeholder: "City" %>
  <%= text_field_tag :state, nil, placeholder: "State" %>
<%= submit_tag 'Go!' %>

<% end %>

<h2>Location: <%= @channel["location"]["city"] %>, <%= @channel["location"]["region"] %></h2>

<h3>Temperature: <%= @channel["item"]["condition"]["temp"] %> degrees <%=  @channel["units"]["temperature"] %></h3>

<% @channel["item"]["forecast"][0..4].each do | forecast | %>
    <h3><%= forecast["day"] %></h3>
    <h3><%= forecast["text"] %></h3>
    <h4>High: <%= forecast["high"] %></h3>
    <h4>Low: <%= forecast["low"] %></h3>
  <br>
<% end %>
