<h2>Customize Document Contract:</h2>
<%= form_tag '/documents', method: :post do %>
  <div>
    <%= label_tag :contract_type %>
    <%= text_field_tag :contract_type, @document.contract_type %>
  </div>
  <div>
    <%= label_tag :contractor %>
    <%= text_field_tag :designer, @document.designer %>
  </div>
  <div>
    <%= label_tag :job_number %>
    <%= text_field_tag :title, @document.title %>
  </div>
  <div>
    <%= label_tag :due_date %>
    <%= text_field_tag :due_date, @document.due_date %>
  </div>
  <div>
    <%= label_tag :notes %>
    <%= text_field_tag :notes, @document.notes %>
  </div>
  <div>
    <%= label_tag :billable_hours %>
    <%= text_field_tag :billable_hours, @document.billable_hours %>
  </div>
  <div>
    <%= label_tag :attachments %>
    <%= text_field_tag :image, @document.image %>
  </div>
  <div>
    <% hidden_field_tag :user_id %>
  </div>
<br>
  <div>
    <%= submit_tag 'Create New Document', class:"btn btn-success" %>
  </div> 
<% end %>