<h1>Food Establishments</h1>

<% @restaurants.each do |restaurant| %>
<h2><%= restaurant["aka_name"] %>, #<%= restaurant["inspection_id"] %></h2>
<h4><%= restaurant["city"] %>, <%= restaurant["state"] %></h4>
<h4>Inspection Date <%= restaurant["inspection_date"] %></h4>

<%= render partial: "restaurant", locals: { restaurant: restaurant } %>
<% end %>