<h1><%= @recipe.title %></h1>
<h3>By: <%= @recipe.chef %></h3>
<h5>Time: <%= @recipe.prep_time %></h5>
<h3>Ingredients: <%= @recipe.ingredients %></h3>
<h3>Direction: <%= @recipe.directions %></h3>

<%= link_to 'Home', '/recipes' %>
<br>
<%= link_to 'Edit', "/recipes/#{@recipe.id}/edit" %>
<br>
<%= link_to 'Delete', "/recipes/#{@recipe.id}", method: :delete %>